.item{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  gap: 15px;
  box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
}

.status{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.online{
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red
}

.avatar{
  border-radius: 5px;
}

.name{
  font-size: 15px;
}